<div id="perfBar">
  <div class="perfBar-bar">
    <span class="perfBar-bar-circle"></span>
    <span class="perfBar-bar-circle"></span>
    <span class="perfBar-bar-circle"></span>
  </div>
  <div class="perfBar-stats">
    <ul class="perfBar-cf">
    </ul>
  </div>
</div>